@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Just a minimal TLS version test</h1>
    <p class="lead">I have no clue what I'm doing.
    So why don't you go back to
    </p>
    <p><a class="btn btn-default" href="https://connect.cppintra.net/nl">connect? &raquo;</a></p>
</div>
